table {
    width: 100%;
    padding: 20px;

  }
td{
  padding: 20px;
  margin: 20px;

}
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background-color: inherit;
}